<br>
<footer class="fixed-bottom" >
	<div class="footer-copyright text-center py-3" style="color: #fff">© 2019 Copyright:
      LAB-RPL&GDC 
    </div>
    <!-- Copyright -->
  </footer>
<script type="text/javascript" src="/jquery/jquery-2.2.3.min.js"></script>	
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/datatable/js/jquery.dataTables.min.js"></script>  
<script src="/datatable/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#id_table').DataTable();
     
	});
</script>
</html>